
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 10%;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  
  .left {
    text-align: center;
    left: 0;
    
  }
  
  
  .right {
    text-align: center;
    right: 0;
    
  }