{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Recipe Buddy</title>
		<link rel = "stylesheet" href = "{% static 'css/mystyle.css' %}">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
			$(document).ready(function() {
				
				$('button').click(function() {
					$('input:text').val(this.id);
				});
			});
		</script>

		<script>
			function checkRecipe(obj) {
				box = document.getElementById('if_delete');
				box.value = obj.id;
			}
		</script>

    </head>
	
	<!--
		4/27/22

		- Account hub needs to be made dynamic such that table data cells only show up for recipes that are actually there.
		- Utensils and ingredients should be separate floating divs NOT stored in data cells in the table. This would make it too difficult
		display recipes in a readable format
	
	-->
	
	<body>

	<ul style = "background-color : #333; list-style-type: none; overflow: hidden;" class="ul">
		<li class="li"><a href="{% url 'index' %}" style = "float:left; text-decoration:none; font-family: 'Trebuchet MS', sans-serif;" class="li a">Home</a></li>
		<li style = "float:right; font-family: 'Trebuchet MS', sans-serif;" class="li"><a href="{% url 'index' %}" style = "text-decoration:none;" class="li a">Logout</a></li>
		<li style = "float:right; font-family: 'Trebuchet MS', sans-serif;" class="li"><a href="{% url 'account-hub' %}" style = "text-decoration:none;" class="li a">My Account</a></li>
	</ul>
        
        <section style = "padding : 0.1in;">
            <center><b style="font-size: 300%;">{{user.get_username}}</b></center>
        </section>
		
		<center><table style = "width:40%; border-spacing: 30px; float:left" cellpadding = "10">
			<tr style="height:30px; vertical-align:top;">
				<th colspan = "2" style = "border: 1px solid black; background-color: #e6e6e6;">My Recipes ({{count}})</th>
			</tr>

			<tr  style="height:250px; vertical-align:top;">
			<form method="POST">
				{% csrf_token %}
			<input type="hidden" name="if_delete" id="if_delete">
			
			{% for recipe in recipes %}


				{% if forloop.counter0|divisibleby:2 %}
					{% if forloop.counter0 != 0 %}
			</tr>
			
			<tr  style="height:250px; vertical-align:top;">
				<td style = "width:50%; border: 1px solid black; background-color: #e6e6e6;">
					<button type="submit" onclick="checkRecipe(this)" name="delete_recipe" id="{{recipe.get_id}}">x</button>
					<a href = "/app/recipe/{{ recipe.get_id }}" style ="color:black; text-decoration:none;">
						
						
						<b><p style = "text-align:center; font-size:150%;">{{recipe.recipe_name}}</p></b>
						
						<ul class = "ul">
							<li style="text-align:center;">{{recipe.recipe_ingredients}}</li>
						</ul>
					</a>
				</td>
					{% else %}
				<td style = "width:50%; border: 1px solid black; background-color: #e6e6e6;">
					<button type="submit" onclick="checkRecipe(this)" name="delete_recipe" id="{{recipe.get_id}}">x</button>
					<a href = "/app/recipe/{{ recipe.get_id }}" style ="color:black; text-decoration:none;">
						
						<p style = "text-align:center; font-size:200%;">{{recipe.recipe_name}}</p>
						<ul class = "ul">
							<li style="text-align:center;">{{recipe.recipe_ingredients}}</li>
						</ul>
					</a>
				</td>
					{% endif %}
				{% else %}
				<td style = "width:50%; border: 1px solid black; background-color: #e6e6e6;">
					<button type="submit" onclick="checkRecipe(this)" name="delete_recipe" id="{{recipe.get_id}}">x</button>
					<a href = "/app/recipe/{{ recipe.get_id }}" style ="color:black; text-decoration:none;">
						
						<p style = "text-align:center; font-size:200%;">{{recipe.recipe_name}}</p>
						<ul class = "ul">
							<li style="text-align:center;">{{recipe.recipe_ingredients}}</li>
						</ul>
					</a>
				</td>
				{% endif %}
			{% endfor %}
			</form>
			</tr>
		</table>

		<table style = "width:40%; border-spacing: 30px; float:right;" cellpadding = "10">
			<tr style="height:30px; vertical-align:top; ;">
				<th colspan = "2" style = "border: 1px solid black; background-color: #e6e6e6;">My Pantry</th>
			</tr>
			<tr style="height:250px; vertical-align:top;">

				<td style = "border: 1px solid black; background-color: #e6e6e6; width:50%;">
					<p style = "text-align:center; font-size:200%;">Utensils</p>
					<ul class = "ul">
						{% for utn in utensils %}
						<li style="text-align:left;padding-left: 0.5in; padding-right: 0.5in;">{{utn}}</li>
						{% endfor %}
					</ul>
					<p style = "text-decoration:underline; text-align:center;">View all&gt;&gt;</p>
				</td>

			</tr>
			<tr style="height:250px; vertical-align:top;">

				<td style = "border: 1px solid black; background-color: #e6e6e6; width:50%;">
					<p style = "text-align:center; font-size:200%;">Ingredients</p>
					<ul class = "ul">
						{% for ingr in ingredients %}
						<li style="text-align:left;padding-left: 0.5in; padding-right: 0.5in;">{{ingr}}</li>
						{% endfor %}
					</ul><p style = "text-decoration:underline; text-align:center;">View all&gt;&gt;
					</p>
				</td>
			</tr>
			
			<tr>
				<td>
					<a href="/app/create-recipe"><button style="height: 1in; width: 8in; font-size:200%;">Create New Recipe</button></a>
				</td>
			</tr>

		</table></center>
		
		
		
	</body>
	
</html>