{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Recipe Buddy</title>
    <link rel = "stylesheet" href = "mystyle.css">
</head>


<!-- Body -->

<body >

<ul style = "background-color : #333; list-style-type: none; overflow: hidden;">
    <li><a href="/app" style = "float:left; text-decoration:none; font-family: 'Trebuchet MS', sans-serif;">Home</a></li>
    <li style = "float:right; font-family: 'Trebuchet MS', sans-serif;"><a href="/app/create-account" style = "text-decoration:none;">Create Account</a></li>
    <li style = "float:right; font-family: 'Trebuchet MS', sans-serif;"><a href="/app/login" style = "text-decoration:none;">Login</a></li>
</ul>

<header>
    <h1 style="text-align: center;" style="font-size: 300%;">Username</h1>
</header>

<center><table style = "width:75%; border-spacing: 30px;" cellpadding = "10">

    <tr style="height:300px; vertical-align:top;">

        <td>
            <center><b style="font-size: x-large; text-align: center;">Username: </b><input id="Username" aria-live="polite" placeholder="" style="width: 3in; height: 0.35in;"></center>
            <br>
            <br><br>
            <center><b style="font-size: x-large; text-align: center;">Password: </b><input id="Password" aria-live="polite" placeholder="" style="width: 3in; height: 0.35in;"></center>
            <br>
            <br><br>
            <center><b style="font-size: x-large; text-align: center;"> Confirm Password: </b><input id="Password" aria-live="polite" placeholder="" style="width: 3in; height: 0.35in;"></center>
            <br>
            <br>
            <center><button style="font-size: x-large; text-align: center;">Create Account</button></center>
        </td>

        <td>
            <center><b style="font-size: x-large; text-align: center;">Utensil: </b><input id="Password" aria-live="polite" placeholder="" style="width: 3in; height: 0.35in;"></center>
            <br>
            <br>
            <center><button style="font-size: x-large; text-align: center;">Add Utensil</button></center>
            <br>
            <br><br>
            <center><b style="font-size: x-large; text-align: center;">Ingredients: </b><input id="Password" aria-live="polite" placeholder="" style="width: 3in; height: 0.35in;"></center>
            <br>
            <br>
            <center><button style="font-size: x-large; text-align: center;">Add Ingredients</button></center>
        </td>

    </tr>

</table></center>

</body>
</html> 