<!DOCTYPE html>
<html>
<head>
    <title>Recipe Buddy</title>
    <link rel = "stylesheet" href = "mystyle.css">

    <script>
        // What the actual fuck is wrong with this function? It doesn't even run when the button is clicked anymore
        function addUtensil() {
            utn = document.getElementById("utensils")
            list = document.getElementsByName("utensils_list")
            utensils = document.getElementById("utn_list")
            if (utensils.textContent != '') {
                list.value = list.value.concat(', ', utn.value)
                utensils.textContent = utensils.textContent.concat(', ', utn.value)
            } else {
                list.value = list.value.concat(utn.value)
                utensils.textContent = utensils.textContent.concat(utn.value)
            }
        }

        function addIngredient() {
            ing = document.getElementById("ingredients")
            list = document.getElementById("ingredients_list") //hidden text box
            ingredients = document.getElementById("ingr_list")
            if (ingredients.textContent != '') {
                list.value = list.value.concat(', ', ing.value)
                ingredients.textContent = ingredients.textContent.concat(', ', ing.value)
            } else {
                list.value = list.value.concat(ing.value)
                ingredients.textContent = ingredients.textContent.concat(ing.value)
            }
        }
    </script>

</head>


<!-- Body -->

        <header>
            <a href="\app">Home</a>
            <h1 style="text-align: center;" style="font-size: 300%;">Create account</h1>
        </header>
        {% for message in messages %}
        <h5 style="color: red;">{{message}}</h5>
        {% endfor %}
        <form method="POST" class="split left"> 
            
            {% csrf_token %} 

            <b style="font-size: x-large;">Username: </b><input name="username" aria-live="polite" placeholder="" style="width: 3in; height: 0.35in;">
            <br>
            <br>
            <b style="font-size: x-large;">Password: </b><input type="password" name="password" aria-live="polite" placeholder="" style="width: 3in; height: 0.35in;">
            <br>
            <br>
            <b style="font-size: x-large;"> Confirm Password: </b><input type="password" name="confirm_pass" aria-live="polite" placeholder="" style="width: 3in; height: 0.35in;">
            
            <br>
            <br>

            <b style="font-size: x-large; text-align: center;">Utensil: </b><input id="utensils" name="utensils" aria-live="polite" placeholder="ex. spoon, whisk, steak knife" style="width: 3in; height: 0.35in;">
            <button style="font-size: x-large; text-align: center;" type="button" onclick="addUtensil()" >Add Utensil</button>
            <input type="hidden" id="utensils_list" name="utensils_list"></p>
            <p id="utn_list"></p>
            
            <br>
            
            <b style="font-size: x-large; text-align: center;">Ingredients: </b><input id="ingredients" name="ingredients" aria-live="polite" placeholder="ex. eggs, bread, sausage" style="width: 3in; height: 0.35in;">
            <button onclick="addIngredient()" id="add_ingredient" style="font-size: x-large; text-align: center;" type="button">Add Ingredients</button>
            <input type="hidden" id="ingredients_list" name="ingredients_list"></input>
            <p id="ingr_list"></p>

            <br>
            <button id='create_account' style="font-size: x-large;" type="submit" >Create Account</button>
        </form>

    </tr>


</body>
</html> 