<!DOCTYPE html>
<html>
<head>
    <title>Recipe Buddy</title>
    <link rel = "stylesheet" href = "mystyle.css">
</head>


<!-- Body -->

        <header>
            <a href="\app">Home</a>
            <h1 style="text-align: center;" style="font-size: 300%;">Create account</h1>
        </header>
        {% for message in messages %}
        <h5 style="color: red;">{{message}}</h5>
        {% endfor %}
        <form method="POST" class="split left"> 
            
            {% csrf_token %} 

            <b style="font-size: x-large;">Username: </b><input name="username" aria-live="polite" placeholder="" style="width: 3in; height: 0.35in;">
            <br>
            <br>
            <b style="font-size: x-large;">Password: </b><input type="password" name="password" aria-live="polite" placeholder="" style="width: 3in; height: 0.35in;">
            <br>
            <br>
            <b style="font-size: x-large;"> Confirm Password: </b><input type="password" name="confirm_pass" aria-live="polite" placeholder="" style="width: 3in; height: 0.35in;">
            
            <br>
            <br>

            <b style="font-size: x-large; text-align: center;">Utensil: </b><input id="utensils" name="utensils" aria-live="polite" placeholder="ex. spoon, whisk, steak knife" style="width: 3in; height: 0.35in;">
            <button style="font-size: x-large; text-align: center;" type="button" onclick="addUtensil()" >Add Utensil</button>
            
            <p id="utensils_list" name="utensils_list"></p>
            
            <br>
            
            <b style="font-size: x-large; text-align: center;">Ingredients: </b><input id="ingredients" name="ingredients" aria-live="polite" placeholder="ex. eggs, bread, sausage" style="width: 3in; height: 0.35in;">
            <button onclick="addIngredient()" id="add_ingredient" style="font-size: x-large; text-align: center;" type="button">Add Ingredients</button>
            <p id="ingredients_list" name="ingredients_list"></p>

            <br>

            <button id='create_account' style="font-size: x-large;" type="submit" >Create Account</button>
            <script>

                function addUtensil() {
                    utn = document.getElementById("utensils")
                    list = document.getElementById("utensils_list")
                    if (list.innerHTML != '') {
                        list.innerHTML = list.textContent.concat(', ', utn.value)
                    } else {
                        list.innerHTML = list.textContent.concat(utn.value)
                    }
                }

                function addIngredient() {
                    ing = document.getElementById("ingredients")
                    list = document.getElementById("ingredients_list")
                    if (list.innerHTML != '') {
                        list.innerHTML = list.textContent.concat(', ', ing.value)
                    } else {
                        list.innerHTML = list.textContent.concat(ing.value)
                    }
                }
            </script>
        </form>

    </tr>


</body>
</html> 