{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Recipe Buddy</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/basics.css' %}">
    </head>

    
    <!-- Body -->

    <body style="text-align: center;">
        
        <header>
            <section style="float: right;">
                <a href="/app/create-account">Create account</a><br>
                <a href="/app/login">Login</a><br>
                <a href="/app/account-hub">My Account</a>
            </section>
            <h1 style="font-size: 300%;">Recipe Buddy</h1>
        </header>
        
        <section style="margin-top: 1.5in; justify-content: center; ;">
            <b style="font-size: x-large;" >Search:</b><input id="input" type="search" autocomplete="off" spellcheck="true" style="width: 5in; height: 0.5in;">
            <a href="/app/search"><button style="height: 0.5in; width: 1in;">Search</button></a>
        </section>

        <section>
            <nav>
                <ul>
                    <li>
                        <a href="/app/recipe/7895ea98-c122-4a29-8cf1-92b7918e2845">Recipe 1</a>
                        <ul style="list-style-type: circle;">
                            <li>Ingredient 1</li><br>
                            <li>Ingredient 2</li><br>
                            <li>Ingredient 3</li><br>
                        </ul>
                    </li>
                    <li>
                        <a href="/app/recipe/3c8cb5f7-9962-4a3b-a574-ed625fee2521">Recipe 2</a>
                        <ul style="list-style-type: circle;">
                            <li>Ingredient 1</li><br>
                            <li>Ingredient 2</li><br>
                            <li>Ingredient 3</li><br>
                        </ul>
                    </li>
                    <li>
                        <a href="/app/recipe/4021fb75-4641-43ce-8fc1-499ad6f04702">Recipe 3</a>
                        <ul style="list-style-type: circle;">
                            <li>Ingredient 1</li><br>
                            <li>Ingredient 2</li><br>
                            <li>Ingredient 3</li><br>
                        </ul>
                    </li>
                </ul>
            </nav>
        </section>

    </body>

    
    

</html>
