
<!DOCTYPE html>
<html>
<head>
    <title>Recipe Buddy</title>
    <link rel = "stylesheet" href = "mystyle.css">
</head>


<!-- Body -->

<body style="text-align: center;">

<ul style = "background-color : #333; list-style-type: none; overflow: hidden;">
    <li><a href="/app" style = "float:left; text-decoration:none; font-family: 'Trebuchet MS', sans-serif;">Home</a></li>
    <li style = "float:right; font-family: 'Trebuchet MS', sans-serif;"><a href="/app/create-account" style = "text-decoration:none;">Create Account</a></li>
    <li style = "float:right; font-family: 'Trebuchet MS', sans-serif;"><a href="/app" style = "text-decoration:none;">Logout</a></li>
    <li style = "float:right; font-family: 'Trebuchet MS', sans-serif;"><a href="/app/login" style = "text-decoration:none;">Login</a></li>
    <li style = "float:right; font-family: 'Trebuchet MS', sans-serif;"><a href="/app/account-hub" style = "text-decoration:none;">My Account</a></li>
</ul>

<header>
    <h1 style="font-size: 300%;">Recipe Buddy</h1>
</header>

<section style = "padding : 0.5in;">
    <center><b style="font-size: x-large;">Search:	</b><input id="input" type="search" autocomplete="off" spellcheck="true" role="combobox" aria-live="polite" placeholder="" style="width: 7in; height: 0.35in;">
        <button style="height: 00.4in; width: 0.8in;">Search</button></center>
</section>

<center><table style = "width:60%; border-spacing: 30px;" cellpadding = "10">
    <tr style="height:300px;">
        <td style = "border: 1px solid black; background-color: #e6e6e6;"><a href = "#" style ="color:black; text-decoration:none;"><p style = "text-align:center; font-size:200%;">Recipe 1</p><ul>
            <li>Time to cook</li>
            <li>Ingredient 1</li>
            <li>Ingredient 2</li>
            <li>Ingredient 3</li>
        </ul>
            <ul style = "list-style-type:none;">
                <li style = "display:inline;"><br>Rating</li>
                <li style = "display:inline; float:right;">Comments</li>
            </ul>
        </a>
        </td>
        <td style = "border: 1px solid black; background-color: #e6e6e6;"><a href = "#" style ="color:black; text-decoration:none;"><p style = "text-align:center; font-size:200%;">Recipe 2</p><ul>
            <li>Time to cook</li>
            <li>Ingredient 1</li>
            <li>Ingredient 2</li>
            <li>Ingredient 3</li>
        </ul><ul style = "list-style-type:none;">
            <li style = "display:inline;"><br>Rating</li>
            <li style = "display:inline; float:right;">Comments</li>
        </ul></a></td>
        <td style = "border: 1px solid black; background-color: #e6e6e6;"><a href = "#" style ="color:black; text-decoration:none;"><p style = "text-align:center; font-size:200%;">Recipe 3</p><ul>
            <li>Time to cook</li>
            <li>Ingredient 1</li>
            <li>Ingredient 2</li>
            <li>Ingredient 3</li>
        </ul><ul style = "list-style-type:none;">
            <li style = "display:inline;"><br>Rating</li>
            <li style = "display:inline; float:right;">Comments</li>
        </ul></a></td>
    </tr>

</table></center>

</body>




</html>
