{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Recipe Buddy</title>
    <link rel = "stylesheet" href = "{% static 'css/mystyle.css' %}">

    <script>
        function searchType() {
            ingredient = document.getElementById("ingredient_search")
            utensil = document.getElementById("utensil_search")
            keyword = document.getElementById("keyword_search")
            search_type = document.getElementById("search_type")
            if (ingredient.checked) {
                search_type.value = ingredient.value
            } else if (utensil.checked) {
                search_type.value = utensil.value
            } else if (keyword.checked) {
                search_type.value = keyword.value
            }
        }
    </script>

</head>


<!-- Body -->

<body style="text-align: center;">

<ul style = "background-color : #333; list-style-type: none; overflow: hidden;" class="ul">
    <li class="li"><a href="/app" style = "float:left; text-decoration:none; font-family: 'Trebuchet MS', sans-serif;" class="li a">Home</a></li>
    <li style = "float:right; font-family: 'Trebuchet MS', sans-serif;" class="li"><a href="/app/create-account" style = "text-decoration:none;" class="li a">Create Account</a></li>
    <li style = "float:right; font-family: 'Trebuchet MS', sans-serif;" class="li"><a href="/app" style = "text-decoration:none;" class="li a">Logout</a></li>
    <li style = "float:right; font-family: 'Trebuchet MS', sans-serif;" class="li"><a href="/app/login" style = "text-decoration:none;" class="li a">Login</a></li>
    <li style = "float:right; font-family: 'Trebuchet MS', sans-serif;" class="li"><a href="/app/account-hub" style = "text-decoration:none;" class="li a">My Account</a></li>
</ul>

<header>
    <h1 style="font-size: 300%;">Recipe Buddy</h1>
</header>

<form name='search' method="POST" style = "padding : 0.5in;">
    <center>
        {% csrf_token %}
        <b style="font-size: x-large;">Search:	</b>
        <input name="search_str" id="search_bar" type="search" autocomplete="off" placeholder="Select search type then list ingredients, utensils, or keywords separated by ', '" role="combobox" aria-live="polite" style="width: 7in; height: 0.5in; font-size: medium;">
        <button type="submit" style="height: 00.4in; width: 0.8in;">Search</button><br>
        <p>Search by: </p>
        <div>
            <label for="ingredient_search">Ingredients</label>
            <input type="radio" id="ingredient_search" onchange="searchType()" name="search" value="ingredient">
            <br>
            <label for="utensil_search">Utensils</label>
            <input type="radio" id="utensil_search" onchange="searchType()" name="search" value="utensil">
            <br>
            <label for="keyword_search">Keyword</label>
            <input type="radio" id="keyword_search" onchange="searchType()" checked="on" name="search" value="keyword">
            <br>
            <input type="hidden" id="search_type" name="search_type" value="keyword">
        </div>
    </center>
</form>
</body>




</html>
