<!DOCTYPE html>
<html>
<head>
    <title>Recipe Buddy</title>
    <link rel = "stylesheet" href = "mystyle.css">
</head>


<!-- Body -->

<body>

<ul style = "background-color : rgb(204, 88, 88); list-style-type: none; overflow: hidden;">
    <li><a href="/app" style = "float:left; text-decoration:none; font-family: 'Trebuchet MS', sans-serif;">Home</a></li>
    <li style = "float:right; font-family: 'Trebuchet MS', sans-serif;"><a href="/app/create-account" style = "text-decoration:none;">Create Account</a></li>
    <li style = "float:right; font-family: 'Trebuchet MS', sans-serif;"><a href="app/login" style = "text-decoration:none;">Login</a></li>
</ul>

<header>
    <h1 style="text-align: center;" style="font-size: 300%;" >Login</h1>
    {% for message in messages %}
    <h5 style="color: red">{{message}}</h5>
    {% endfor %}
</header>
<form style="text-align: center;" method="POST">

    {% csrf_token %}
    
    <br>
    <b style="font-size: x-large;" style="text-align: center;">Username: </b>
    <input name="username" aria-live="polite" placeholder="" style="width: 3in; height: 0.35in;">
    <br>
    <br><br>
    <b style="font-size: x-large;">Password: </b><input name="password" type="password" aria-live="polite" placeholder="" style="width: 3in; height: 0.35in;">
    <br>
    <br><br>
    <button style="font-size: x-large;">Login</button>
</form>
</body>
</html> 