<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <style>
            section {padding: 2.5in;}
        </style>
    </head>

    
    <!-- Body -->

    <body>

        <header>
            <a href="index.html">Home</a>
            <h1 style="text-align: center;" style="font-size: 300%;" >Login</h1>
            
        </header>
        <section style="text-align: center;">
            <b style="font-size: x-large;" style="text-align: center;">Username: </b><input id="Username" aria-live="polite" placeholder="" style="width: 3in; height: 0.35in;">
            <br>
            <br>
            <b style="font-size: x-large;">Password: </b><input id="Password" aria-live="polite" placeholder="" style="width: 3in; height: 0.35in;">
            <br>
            <br>
            <a href="index.html"><button style="font-size: x-large;">Login</button></a>
        </section>
    </body>
</html> 