{% load static %}

<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        function addStep() {
            input = document.getElementById("step")
            if (input.value != '') {
                nextStep = document.createElement("li")
                nextStep.textContent = input.value
                ol = document.getElementById("steps")
                ol.appendChild(nextStep)
                input.value = ''
            }
        }

    </script>
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <title>Recipe Buddy</title>
    <!--
    <button type="button">HOME</button>
      <button type="button"  >My Profile </button>
      <button type="button"> Logout</button>
    -->
    <ul style = "background-color : rgb(204, 88, 88); list-style-type: none; overflow: hidden;">
        <li><a href="/app" style = "float:left; text-decoration:none; font-family: 'Trebuchet MS', sans-serif;">Home</a></li>
        <li style = "float:right; font-family: 'Trebuchet MS', sans-serif;"><a href="/app/logout" style = "text-decoration:none;">Logout</a></li>
        <li style = "float:right; font-family: 'Trebuchet MS', sans-serif;"><a href="/app/account-hub" style = "text-decoration:none;">My Account</a></li>
    </ul>
    <style>
        div {
        background-color: rgb(153, 152, 152);
        width: 50%;
        height: 70%;
        border: 15px solid rgb(71, 70, 70);
        padding: 50px;
        margin: 10px;
        }
    </style>

</head>
<body>
<form method="POST">
    {% csrf_token %}
    <div class="split left">
        <div class="centered">

            <label for="Title">Title:</label><br>
            <input type="text" id="recipe_title" name="title" ><br>

            <input type="text" id="step">

            <label for="T">T:</label>
            <input type="text" id="time" name="time"size = "1"><br>
            <ol id="steps" name="steps" method="POST">
                
            </ol>
            <button type="button" onclick="addStep()">Add Step</button>
            <button type="button">Add Timer Step</button>

        </div>
    </div>
    </div>

    <div class="split right">
        <div class="centered">

            <label for="List Ingredients">List Ingredients:</label><br>
            <input type="text" id="List Ingredients" name="recipe_ingredients" ><br>

            <label for="List Utensils">List Utensils:</label><br>
            <input type="text" id="List Utensils" name="recipe_utensils" ><br>

            <button id="create" type="submit">Create</button>



        </div>
    </div>
    </div>

</form>


</body>


</html>