<!DOCTYPE html>
<html>
<head>
    <script src="./rbp.js"></script>
    <link rel="stylesheet" href="mystyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Recipe Page </title> 
    <div class ="right-position">
      <a href="/app"><button type="button">HOME</button></a>
      <a href="/app/account-hub"><button type="button">My Profile </button></a>
      <a href="/app"><button type="button"> Logout</button></a>
    </div>
    
    <!--Need to figured out how to make it interactive -->
    <p> Recipe Name 
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    </p>
</head>
<body>
    <div class="flex-container">

        <div class="flex-child magenta">
          <h1> Cooking Time: 0hr 45 min </h1>
          Step 1: <br>
          Step 2: <br>
          Step 3: <br>
          Step 4: <br>
          Step 5: <br>
          Step 6: <br>
          Step 7: <br>
          Step 8: <br>
          Step 9: <br>
          Step 10: <br>
        </div>
        
        <div class="flex-child green">
            <h1>Utensils</h1>
            Utensil 1<br>
            Utensil 2<br>
            Utensil 3 <br>
            <span id="dots"></span><span id="more">
            Utensil 4<br>
            Utensil 5<br>
            Utensil 6<br>
            Utensil 7<br>
            Utensil 8<br>
            Utensil 9<br>
            Utensil 10<br>
            </span>
            <a href="#">View All</a>
          
            <!--This button does not work-->
            <h1>Ingredients</h1>
            Ingredient 1<br>
            Ingredient 2<br>
            Ingredient 3<br>
            <span id="dots"></span><span id="more">
            Ingredient 4<br>
            Ingredient 5<br>
            Ingredient 6<br>
            Ingredient 7<br>
            Ingredient 8<br>
            Ingredient 9<br>
            Ingredient 10<br>
            </span>
            <a href="#">View All</a>
    

        </div>
        
      </div>
      <div class="float-container">

        <div class="float-child green">
            <label for="Write a Comment">Write a comment:</label><br>
            <input type="text" id="Write a Comment" name="Write a Comment"  size = 70%><br>
            <button type="button"> Send</button>
        </div>
        
      </div>

      
</body>


</html>