<!DOCTYPE html>
<html>
<head>
    <script src="./rbp.js"></script>
    <link rel="stylesheet" href="mystyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Recipe Buddy</title>
    <!--
    <button type="button">HOME</button>
    <div class ="right-position">
    <button type="button"  >My Profile </button>
    <button type="button"> Logout</button>
    -->

    <ul style = "background-color : rgb(204, 88, 88); list-style-type: none; overflow: hidden;">
        <li><a href="/app" style = "float:left; text-decoration:none; font-family: 'Trebuchet MS', sans-serif;">Home</a></li>
        <li style = "float:right; font-family: 'Trebuchet MS', sans-serif;"><a href="/app" style = "text-decoration:none;">Logout</a></li>
        <li style = "float:right; font-family: 'Trebuchet MS', sans-serif;"><a href="/app/account-hub" style = "text-decoration:none;">My Account</a></li>
    </ul>
    </div>

    <!--Need to figured out how to make it interactive -->
    <center><p style="font-size:200%"><h1> {{recipe}} </h1></p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
    </center>
</head>
<body>
<div class="flex-container">

    <center><table style = "width:75%; border-spacing: 30px;" cellpadding = "10">

        <tr style ="vertical-align:top;">
            <td style = "border: 1px solid black; background-color: #e6e6e6;">
                <div class="flex-child magenta">
                    <h1> Cooking Time: 0hr 45 min </h1>

                    <ol>
                        {% for step in recipe_instructions %}
                        <li>{{step}}</li>
                        {% endfor %}
                    </ol>

                 </div>
            </td>

            <td style = "border: 1px solid black; background-color: #e6e6e6;">
                <div class="flex-child green">
                    <h1>Utensils</h1>

                    <ul>
                        {% for utn in recipe_utensils %}
                        <li>{{utn}}</li>
                        {% endfor %}
                     </ul>
                </div>
            </td>

            <td style = "border: 1px solid black; background-color: #e6e6e6;">
                <div class="flex-child green">
                    <h1>Ingredients</h1>

                    <ul>
                        {% for ingr in recipe_ingredients %}
                        <li>{{ingr}}</li>
                        {% endfor %}
                     </ul>

                </div>
            </td>

        </tr>

    </table></center>

</div>
<br>
<div class="float-container">

    <center><div class="float-child green">
        <label for="Write a Comment">Write a comment:</label>
        <input type="text" id="Write a Comment" name="Write a Comment"  size = 70%><br>
        <button type="button"> Send</button>
    </div></center>

</div>


</body>


</html>